In [1]:
import pandas as pd
import json

# Load Player Details

In [2]:
with open('data/raw/players.json') as json_data:
    players = json.load(json_data)

In [3]:
df_players = pd.DataFrame({'playername':{'country':0, 'main':0, 'role':0, 'team':0}}).transpose()

for team in players:
    df_players = pd.concat([df_players, pd.DataFrame(team['player_details']).transpose()])

df_players = df_players.drop('playername', axis = 0)
df_players = df_players[['team', 'role', 'main', 'country']]

# Get high level details of all maps

In [4]:
def parse_match(mat):
    
    num_map = len(mat['map_details']['map_name'])
    
    date = pd.to_datetime(mat['date'],infer_datetime_format=True)
    
    if num_map == 4:
        mat['map_details']['map_name'].append('NA')
        mat['map_details']['score1'].append('NA')
        mat['map_details']['score2'].append('NA')
        mat['map_details']['details_1'].append('NA')
        mat['map_details']['details_2'].append('NA')
        
    df_matchStats = pd.DataFrame({mat['matchID']: {'Date': date,
                                                  'Team1': mat['team1'],
                                                  'Team2': mat['team2'],
                                                  'Team1_Score': mat['team1_score'],
                                                  'Team2_Score': mat['team2_score'],
                                                  'Fights_1': mat['fights_1'],
                                                  'Fights_2':mat['fights_2'],
                                                  'Kills_1':mat['kills_1'],
                                                  'Kills_2':mat['kills_2'],
                                                   
                                                  'Map1':mat['map_details']['map_name'][0],
                                                  'Score_1_1': mat['map_details']['score1'][0],
                                                  'Score_1_2': mat['map_details']['score2'][0],
                                                  'MatchDet_1_1': mat['map_details']['details_1'][0],
                                                  'MatchDet_1_2': mat['map_details']['details_2'][0],
                                                   
                                                  'Map2':mat['map_details']['map_name'][1],
                                                  'Score_2_1': mat['map_details']['score1'][1],
                                                  'Score_2_2': mat['map_details']['score2'][1],
                                                  'MatchDet_2_1': mat['map_details']['details_1'][1],
                                                  'MatchDet_2_2': mat['map_details']['details_2'][1],
                                                   
                                                  'Map3':mat['map_details']['map_name'][2],
                                                  'Score_3_1': mat['map_details']['score1'][2],
                                                  'Score_3_2': mat['map_details']['score2'][2],
                                                  'MatchDet_3_1': mat['map_details']['details_1'][2],
                                                  'MatchDet_3_2': mat['map_details']['details_2'][2],
                                                   
                                                  'Map4':mat['map_details']['map_name'][3],
                                                  'Score_4_1': mat['map_details']['score1'][3],
                                                  'Score_4_2': mat['map_details']['score2'][3],
                                                  'MatchDet_4_1': mat['map_details']['details_1'][3],
                                                  'MatchDet_4_2': mat['map_details']['details_2'][3],
                                                   
                                                  'Map5':mat['map_details']['map_name'][4],
                                                  'Score_5_1': mat['map_details']['score1'][4],
                                                  'Score_5_2': mat['map_details']['score2'][4],
                                                  'MatchDet_5_1': mat['map_details']['details_1'][4],
                                                  'MatchDet_5_2': mat['map_details']['details_2'][4],
                                                   
                                                  }})
    
    return (df_matchStats.transpose())

In [5]:
with open('data/raw/game_stats.json') as json_data:
    match_stats = json.load(json_data)

init_match = match_stats[0].copy()
init_match['matchID']= 'trial'
df_matchStats = parse_match(init_match)

idx = 0 
for match in match_stats:
    idx += 1
    if len(match_stats[idx-1]['map_details']['details_1'])>=4:
        df_matchStats = pd.concat([df_matchStats, parse_match(match)])
    
df_matchStats = df_matchStats.drop('trial', axis = 0)
df_matchStats = df_matchStats[['Date', 'Team1', 'Team2', 'Team1_Score', 'Team2_Score', 
                             'Fights_1', 'Fights_2', 'Kills_1', 'Kills_2',
                             'Map1', 'Score_1_1', 'Score_1_2', 'MatchDet_1_1', 'MatchDet_1_2',
                             'Map2', 'Score_2_1', 'Score_2_2', 'MatchDet_2_1', 'MatchDet_2_2',
                             'Map3', 'Score_3_1', 'Score_3_2', 'MatchDet_3_1', 'MatchDet_3_2', 
                             'Map4', 'Score_4_1', 'Score_4_2', 'MatchDet_4_1', 'MatchDet_4_2', 
                             'Map5', 'Score_5_1', 'Score_5_2', 'MatchDet_5_1', 'MatchDet_5_2'
                             ]]

df_matchStats['Team1_Score'] = pd.to_numeric(df_matchStats['Team1_Score'])
df_matchStats['Team2_Score'] = pd.to_numeric(df_matchStats['Team2_Score'])
df_matchStats['Fights_1'] = pd.to_numeric(df_matchStats['Fights_1'])
df_matchStats['Fights_2'] = pd.to_numeric(df_matchStats['Fights_2'])
df_matchStats['Kills_1'] = pd.to_numeric(df_matchStats['Kills_1'])
df_matchStats['Kills_2'] = pd.to_numeric(df_matchStats['Kills_2'])
df_matchStats['Score_1_1'] = pd.to_numeric(df_matchStats['Score_1_1'])
df_matchStats['Score_1_2'] = pd.to_numeric(df_matchStats['Score_1_2'])
df_matchStats['Score_2_1'] = pd.to_numeric(df_matchStats['Score_2_1'])
df_matchStats['Score_2_2'] = pd.to_numeric(df_matchStats['Score_2_2'])
df_matchStats['Score_3_1'] = pd.to_numeric(df_matchStats['Score_3_1'])
df_matchStats['Score_3_2'] = pd.to_numeric(df_matchStats['Score_3_2'])
df_matchStats['Score_4_1'] = pd.to_numeric(df_matchStats['Score_4_1'])
df_matchStats['Score_4_2'] = pd.to_numeric(df_matchStats['Score_4_2'])
df_matchStats['Score_5_1'] = pd.to_numeric(df_matchStats['Score_5_1'], errors= 'coerce')
df_matchStats['Score_5_2'] = pd.to_numeric(df_matchStats['Score_5_2'], errors= 'coerce')

def conv_det(x):
    if x == 'NA':
        return x
    else:
        return float(x[:-1])
    
df_matchStats['MatchDet_1_1'] = df_matchStats['MatchDet_1_1'].apply(conv_det)
df_matchStats['MatchDet_1_2'] = df_matchStats['MatchDet_1_2'].apply(conv_det)
df_matchStats['MatchDet_2_1'] = df_matchStats['MatchDet_2_1'].apply(conv_det)
df_matchStats['MatchDet_2_2'] = df_matchStats['MatchDet_2_2'].apply(conv_det)
df_matchStats['MatchDet_3_1'] = df_matchStats['MatchDet_3_1'].apply(conv_det)
df_matchStats['MatchDet_3_2'] = df_matchStats['MatchDet_3_2'].apply(conv_det)
df_matchStats['MatchDet_4_1'] = df_matchStats['MatchDet_4_1'].apply(conv_det)
df_matchStats['MatchDet_4_2'] = df_matchStats['MatchDet_4_2'].apply(conv_det)
df_matchStats['MatchDet_5_1'] = df_matchStats['MatchDet_5_1'].apply(conv_det)
df_matchStats['MatchDet_5_2'] = df_matchStats['MatchDet_5_2'].apply(conv_det)


for m in range(df_matchStats.shape[0]):
    
    mdata = df_matchStats.iloc[m,:]
    
    for i in [9, 14, 19, 24, 29]:

        if mdata[i+1] == mdata[i+2] and mdata[i+3] != mdata[i+4]:
            if mdata[i+3] > mdata[i+4]:

                df_matchStats.iat[m,i+1] += 1
            else:

                df_matchStats.iat[m,i+2] += 1
    

df_matchStats.head()

,Date,Team1,Team2,Team1_Score,Team2_Score,Fights_1,Fights_2,Kills_1,Kills_2,Map1,...,Map4,Score_4_1,Score_4_2,MatchDet_4_1,MatchDet_4_2,Map5,Score_5_1,Score_5_2,MatchDet_5_1,MatchDet_5_2
2654,2018-06-02 00:00:00,New York Excelsior,Los Angeles Valiant,2,3,38,28,155,127,Blizz,...,Gibraltar,2,3,85.60,85.61,Nepal,1.0,2.0,0,0
2656,2018-06-06 00:00:00,Seoul Dynasty,Boston Uprising,1,3,22,38,124,168,Blizz,...,Dorado,1,2,60.53,60.54,NA,NaN,NaN,NA,NA
2651,2018-06-02 00:00:00,Florida Mayhem,Seoul Dynasty,2,3,24,55,153,243,Blizz,...,Dorado,3,4,61.47,61.48,Nepal,1.0,2.0,0,0
2653,2018-06-02 00:00:00,London Spitfire,Dallas Fuel,1,3,18,25,108,119,Blizz,...,Gibraltar,5,4,54.87,52.14,NA,NaN,NaN,NA,NA
2659,2018-06-07 00:00:00,Los Angeles Valiant,London Spitfire,2,1,22,28,118,112,Blizz,...,Dorado,3,0,0.00,76.68,NA,NaN,NaN,NA,NA

# Get detailed stats per player per character

In [6]:
with open('data/raw/detailed_stats.json') as json_data:
    det_stats = json.load(json_data)
    
detStat = []
for x in det_stats:
    if x['det_stats'] != {}:
        detStat.append(x)

def parse_detStats(item):
    
    detStat = item['det_stats']
    matchID = item['matchID']
    
    df_detStat = pd.DataFrame(detStat).transpose()
    df_detStat['matchID'] = matchID
    
    return df_detStat

df_detStats = pd.DataFrame({'trial':{'name':0,
                                     'matchID':0,
                                     'character':0,
                                     'time_played':0,
                                     'kills/10':0,
                                     'deaths/10':0,
                                     'ults/10':0,
                                     'kills%':0,
                                     'first_kill':0,
                                     'first_death':0,
                                     'fw_perc':0,
                                     'ultchargetime':0,
                                     'ult_eff':0,
                                     'ult_out':0,
                                     'kills/ult':0
                                    }}).transpose()

for match in detStat:
    df_detStats = pd.concat([df_detStats, parse_detStats(match)])

df_detStats = df_detStats.drop('trial', axis = 0).reset_index()
df_detStats = df_detStats.drop('index', axis = 1)

df_detStats = df_detStats[['name', 'character', 'matchID', 'time_played','kills/10','deaths/10','ults/10','kills%','first_kill','first_death','fw_perc','ultchargetime','ult_eff','ult_out','kills/ult'
]]

idx = 0
def convert_minutes(time):
    global idx
    
    try:
        time = time.split(':')
        time = int(time[0])*60 + int(time[1]) + int(time[2])/60
    except:
        print(df_detStats[['name', 'character', 'time_played']].iloc[idx,:], time)
        return 'N/A'
    idx += 1
    return time
    
df_detStats['time_played'] = df_detStats['time_played'].apply(convert_minutes)

for i in range(4,15):
    if i in [4, 5, 6, 11, 12, 14]:
        df_detStats.iloc[:,i] = pd.to_numeric(df_detStats.iloc[:,i])
    else:
        df_detStats.iloc[:,i] = df_detStats.iloc[:,i].apply(lambda x: float(x[:-1])/100)

df_detStats.head()

name                 Profit
character             Zarya
time_played    0-1:0-8:0-43
Name: 4880, dtype: object ['0-1', '0-8', '0-43']

,name,character,matchID,time_played,kills/10,deaths/10,ults/10,kills%,first_kill,first_death,fw_perc,ultchargetime,ult_eff,ult_out,kills/ult
0,Birdring,Brigitte,3417,0.3,0.00,0.00,0.00,0.0000,0.0,0.00,0.0000,0,0.00,0.0,0
1,Carpe,Brigitte,3417,0.433333,0.00,23.08,0.00,0.0000,0.0,0.00,0.0000,0,0.00,0.0,0
2,Carpe,Doomfist,3417,2.03333,0.00,9.84,0.00,0.0000,0.0,0.33,0.3333,0,0.00,0.0,0
3,Carpe,Tracer,3417,2.9,0.00,3.45,3.45,0.0000,0.0,0.00,0.0000,90,0.00,0.0,0
4,Carpe,Widowmaker,3417,31.1167,7.07,5.14,4.82,0.2821,0.1,0.08,0.3077,96,-0.77,0.2,0

In [10]:
with open('data/raw/events.json') as json_data:
    pbp = json.load(json_data)
    
pbp[503]['match_details']['events'][84][5] = 4

In [14]:
def parse_events(evt):

    mat_det = evt['match_details']
    red_team = mat_det['red']
    red_players = mat_det['rednames']
    blue_team = mat_det['blue']
    blue_players = mat_det['bluenames']
    
    blue_player_dict = {}
    red_player_dict = {}
    
    teams = {'BLUE': blue_team, 'RED': red_team}
    b = 1
    for blu in blue_players:
        blue_player_dict[b] = blu
        b+=1
    
    r = 1
    for red in red_players:
        red_player_dict[r] = red
        r+=1
        
    events = mat_det['events']
    
    df_events = pd.DataFrame({'time':{'Action':0,
                                      'ActingTeam':0,
                                      'ActingPlayer':0,
                                      'SWITCH_from':0,
                                      'SWITCH_to':0,
                                      'KILL_er_char':0,
                                      'KILL_ed_char':0,
                                      'KILL_ed_name':0,
                                      'ULT_USE_char':0,
                                      'ULT_GAIN_char':0,
                                      'RES_who':0,
                                      'RES_char':0,
                                      'SUI_char':0}}).transpose()
    init_time = events[0][0]
    for feed in events:
        
        time = feed[0] - init_time
        #time = str(int(time/60)) + ":" + str(time % 60)
        Action = feed[1]
 
        ActingPlayer = ''
        ActingTeam = ''
        SWITCH_from = ''
        SWITCH_to = ''
        KILL_er_char = ''
        KILL_ed_char = ''
        KILL_ed_name = ''
        ULT_USE_char = ''
        ULT_GAIN_char = ''
        RES_who = ''
        RES_char = ''
        SUI_char = ''
        
        if len(feed)>2:
    
            ActingTeam = feed[2]

            if ActingTeam == 'BLUE':
                act_player_dict = blue_player_dict
                ene_player_dict = red_player_dict
            else:
                act_player_dict = red_player_dict
                ene_player_dict = blue_player_dict

            ActingPlayer = act_player_dict[feed[3]]
            ActingTeam = teams[feed[2]]

            if Action == 'KILL':
                KILL_er_char = feed[4]
                KILL_ed_char = feed[6]
                KILL_ed_name = ene_player_dict.get(feed[5])

            elif Action == 'SWITCH':
                SWITCH_from = feed[4]
                SWITCH_to = feed[5]

            elif Action == 'ULT_GAIN':
                ULT_GAIN_char = feed[4]

            elif Action == 'ULT_USE':
                ULT_USE_char = feed[4]

            elif Action == 'REVIVE':
                RES_who = act_player_dict[feed[5]]
                RES_char = feed[6]

            elif Action == 'SUICIDE':
                SUI_char = feed[4]

        df_temp = pd.DataFrame({time :{'Action':Action,
                                       'ActingTeam':ActingTeam,
                                       'ActingPlayer':ActingPlayer,
                                       'SWITCH_from':SWITCH_from,
                                       'SWITCH_to':SWITCH_to,
                                       'KILL_er_char':KILL_er_char,
                                       'KILL_ed_char':KILL_ed_char,
                                       'KILL_ed_name':KILL_ed_name,
                                       'ULT_USE_char':ULT_USE_char,
                                       'ULT_GAIN_char':ULT_GAIN_char,
                                       'RES_who':RES_who,
                                       'RES_char':RES_char,
                                       'SUI_char':SUI_char}}).transpose()     
        
        df_events = pd.concat([df_events, df_temp])
        
    df_events = df_events.reset_index()
    df_events = df_events.rename(index=str, columns = {'index':'time'})
    df_events = df_events.drop('0', axis = 0)
    
    df_events['matchID'] = evt['matchID']
    df_events['gameNum'] = evt['gameNum']
    df_events['roundNum'] = evt['roundNum']
    df_events['Team1'] = blue_team
    df_events['Team2'] = red_team
    
    df_events = df_events[['matchID', 'gameNum', 'roundNum', 'Team1', 'Team2', 'time', 
                           'Action','ActingTeam', 'ActingPlayer', 
                           'KILL_er_char', 'KILL_ed_char','KILL_ed_name',
                           'RES_char', 'RES_who',
                           'ULT_GAIN_char', 'ULT_USE_char',
                           'SWITCH_from', 'SWITCH_to',
                           'SUI_char']]
    return(df_events)

In [19]:
df_events = parse_events(pbp[0])
from tqdm import tqdm

idx = 0
for ev in tqdm(range(len(pbp)-1)):
    df_events = pd.concat([df_events, parse_events(pbp[1+ev])])
    idx+=1

100%|██████████| 2669/2669 [06:52<00:00,  5.14it/s]

In [22]:
df_events.to_csv('data/processed/events.csv')

In [7]:
events_df = pd.read_csv('data/processed/events.csv')

In [8]:
events_df.head()

,Unnamed: 0,matchID,gameNum,roundNum,Team1,Team2,time,Action,ActingTeam,ActingPlayer,KILL_er_char,KILL_ed_char,KILL_ed_name,RES_char,RES_who,ULT_GAIN_char,ULT_USE_char,SWITCH_from,SWITCH_to,SUI_char
0,1,3417,1,1,Philadelphia Fusion,London Spitfire,0,MATCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3417,1,1,Philadelphia Fusion,London Spitfire,0,SWITCH,Philadelphia Fusion,carpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,widowmaker,NaN
2,3,3417,1,1,Philadelphia Fusion,London Spitfire,0,SWITCH,Philadelphia Fusion,eqo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hanzo,NaN
3,4,3417,1,1,Philadelphia Fusion,London Spitfire,0,SWITCH,Philadelphia Fusion,sado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,orisa,NaN
4,5,3417,1,1,Philadelphia Fusion,London Spitfire,0,SWITCH,Philadelphia Fusion,poko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dva,NaN